[submodule "Carthage/Checkouts/swift-lime-localization"]
	path = Carthage/Checkouts/swift-lime-localization
	url = https://github.com/lime-company/swift-lime-localization.git
[submodule "Carthage/Checkouts/swift-lime-core"]
	path = Carthage/Checkouts/swift-lime-core
	url = https://github.com/lime-company/swift-lime-core.git
